[2021-04-26 16:28] ribeirogabriel commented on #395
Maybe you should check for iOS permission first as stated in the docs?
https://github.com/teslamotors/react-native-camera-kit#checkdevicecameraauthorizationstatus-ios-only

[2021-04-27 14:50] Freddy03h commented on #395
How do you call imperative handle on a mounted component if mounting the component crash the app? 😅

The component seems to handle the permission request (permission was asked the first time the component is mounted), so I think it's a real issue. App crashing if the user remove the permission from the settings isn't normal.

Also, I found a workaround by directly using the `Camera` component  ins

[2021-05-03 01:38] kshahzada commented on #391
I commented this line out it stopped the error

[2021-05-04 14:10] ajstokar commented on #391
Awesome!  Any idea when the next release will be published?

On Sun, May 2, 2021 at 9:39 PM Kaspar Shahzada ***@***.***>
wrote:

[2021-05-04 14:17] kshahzada commented on #391
Lol - I'm not a maintainer, and I'm sure there is a good reason why it's made this way. If you want a temporary fix to shut up ESLint, go to `node_modules/react-native-camera-kit/src/Camera.ios.tsx` and comment out lines 29-33 as @renanmav suggested.

I might try and fork and understand what's going on this weekend and maybe they'll release it next week. Idk. New to this project too :)

[2021-05-04 17:38] kshahzada commented on #391
Hey Guys - I made a PR to fix this #396. Feel free to pull and test/use it; even better would be to review the pull so it makes it easier for a maintainer to merge.

Cheers :)

[2021-05-07 04:50] MohammedCoding opened #397 "Too many imports for my laptop."
### A very very big issue (At least for me)
Please make it into less imports.

### Down Below

Please fix and find a way for less imports. So it doesn't crash. I would appreciate it so much.
github.com/teslamotors/react-native-camera-kit/blob/master/example/android/app/src/debug/java/com/example/reactnativecamerakit/ReactNativeFlipper.java
---
### Environment
* React Native Navigation version: 0.6

[2021-05-11 03:04] lehuyroxyproduction opened #400 "No variants found for 'react-native-camera-kit'. Check build files to ensure at least one variant exists."
### Issue Description

When I build android , i have problem .
![Screen Shot 2021-05-11 at 10 01 59 AM](https://user-images.githubusercontent.com/41155784/117751815-f0f1e300-b23f-11eb-813a-ae7e827fc1f0.png)

### Steps to Reproduce / Code Snippets / Screenshots

[FILL THIS OUT - It will be extremely helpful]

---
### Environment
* React Native Navigation version: ^2.8.2
* React Native version: "0.6

[2021-05-14 03:45] LukeV111 commented on #386
Did you find a solution to this?

[2021-05-16 09:16] wouterds commented on #384
As a workaround you can install the package directly from this merge commit (3208896c569b2ab79db1e292129de47de5d2af99) like so in your `package.json`:
```"react-native-camera-kit": "github:teslamotors/react-native-camera-kit#320889",```

I can confirm this works with React Native `0.64` & `0.64.1`. Although ideally, we'd see this released as a new version asap.

[2021-05-16 13:26] mayank-budhiraja opened #404 "Feature request - Create regex pattern for the image name"
### Feature Description

While saving the image in the cache we should be able to have a particular format (or regex pattern) for the image or should be able to customize the name of the image for e.g based on date and time.

[2021-05-20 16:07] kshahzada commented on #387
@aarongrider anything I can do to help with publishing the latest in master to resolve this?

Looks like #385 have been merged for a while

[2021-05-25 04:14] #311 closed

[2021-05-27 00:17] scarlac commented on #404
The image is stored in a temporary path. Please use another library to copy/move/rename the photo because otherwise we'd have to step into the realm of managing file locations which is not really in the scope of the library.
I recommend checking out react-native-fs or expo-filesystem.

[2021-05-27 00:17] #404 closed

[2021-05-27 00:19] scarlac commented on #400
I haven't encountered this issue before. My best guess is that you need to investigate if the package is installed correctly.

[2021-05-27 00:22] scarlac commented on #397
I'm sorry, but you need to provide a bit more to get assistance. We need to see an error message of any kind. We also don't support Chrome OS.

[2021-05-27 00:22] #397 closed

[2021-05-31 22:06] martnd commented on #387
Fixed in 11..2.0

[2021-06-03 18:34] aarongrider commented on #387
Sorry, I should have left a comment. Yes, it is published. Thanks for your patience everyone!

[2021-06-03 18:34] #387 closed

[2021-06-04 13:43] zlenkod commented on #400
You forget to add [Kotlin](https://github.com/teslamotors/react-native-camera-kit/blob/master/docs/kotlin.md ) to your android project

[2021-06-15 13:05] gpontesss opened #408 "Problems testing with jest and typescript"
### Issue Description

I've been facing a problem when trying to write tests related to components from this library. I'm new to JS/TS, and don't know to ecosystem that well for now, so it may be something obvious. Since it seems to be something entirely related to the library, for the error only appears when I include a Camera component somewhere in the App tree, I believe someone around here can

[2021-06-17 13:38] LupulescuAlexandru opened #409 "[Android questions] minSDKVersion and Zxing"
1. Why does the library still have Zxing as a dependency if the QRCodeAnalyzer uses com.google.mlkit.vision.barcode.BarcodeScanning? Removing it will lower the app size by 4 mb.

2.  What are the methods/classes that are available only for API higher than 21? I checked with Android Studio and I couldn't find any.

[2021-06-24 21:49] scarlac commented on #409
Great question on no. 1. I think it can be removed. If you have a PR for it, we'd love to see it!

Regarding the API requirements. CameraX, the underlying camera abstraction/library, requires API min 21. I doubt you will be able to lower it. https://developer.android.com/training/camerax

[2021-06-24 22:01] scarlac commented on #409
Merged your proposed change. Thanks!

[2021-06-24 22:01] #409 closed

[2021-07-01 11:37] LupulescuAlexandru commented on #347
Still an issue, EXIF shows orientation=6.

[2021-07-05 20:02] axeljeremy7 commented on #311
this is not fixed, iam using lates release

[2021-07-06 14:54] axeljeremy7 opened #410 "capture() function not working"
### Issue Description

The function async onCaptureImagePressed() on CameraScreen does not work and capture() dont work either, whether i use promise or not, i f I dont use the promise i just get '{"_U": 0, "_V": 0, "_W": null, "_X": null}', if i use the promise the code is not executed after. I have try Camera and. CameraScreen components

### Steps to Reproduce / Code Snippets / Screenshots

thi

[2021-07-12 09:40] AlkanV opened #411 "square video"
Can i record square video with this library?

[2021-07-23 15:21] rusty428 opened #414 "Method to capture an image of a barcode?"
Is there a method to automatically capture an image of a barcode/qr code using the onReadCode?

[2021-07-23 18:16] marvinPlasmatic opened #415 "Overlay on Camera Screen (10.0)"
### Issue Description

Overlay on Camera Screen

My company wants to add overlay of different shapes (Square, rectangles, ellipses) as a guiding for the user.
We implemented it on the camera kit however as of version 10.0, we're having issues with the flash on it and Camera Screen the flash is working.

Is it possible to add a custom overlay to the Camera Screen on the camera area only?
This would

[2021-07-29 06:14] Damil2020 opened #416 "Cannot take picture - Camera is closed"
### Issue Description

When using camera.capture, nothing really happens and the promise gets rejected after a while, stating "Camera is closed".

### Steps to Reproduce / Code Snippets / Screenshots

Just try to capture an image.

---
### Environment
* React Native version: 0.64.2
* Platform(s) (iOS, Android, or both?): Android
* Device info (Simulator/Device? OS version? Debug/Release?): Device

[2021-08-04 06:16] aliraza-noon commented on #185
@aarongrider I am also experiencing the same issue, do we know why is this failing ?

[2021-09-05 07:42] aprilmintacpineda opened #422 "change `implementation "androidx.core:core-ktx:+"` to a specific version"
### Issue Description

a new version of `androidx.core:core-ktx` has just been released last September 1. The new  version has `targetSdkVersion: 31`. When I tried to run my android app I got error message:

[code]

This is because `implementation "androidx.core:core-ktx:+"` will install the latest release even though it may not yet be compatible with some other dependencies.

https://androidx.tec

[2021-09-06 14:26] mariobrubio commented on #422
Same here, could you please change the version of `androidx.core:core-ktx`? My app is not building because of this

[2021-09-06 21:57] aprilmintacpineda commented on #422
As a workaround, in your `android/app/build.gradle` add the following block before `android {}` block.

[code]

[2021-09-07 00:20] mariobrubio commented on #422
@aprilmintacpineda I did it and it is still failing when trying to build my pipeline.

[2021-09-07 23:08] mariobrubio commented on #422
![image](https://user-images.githubusercontent.com/21285099/132421477-1991df41-8f69-4de7-b4af-3e42355ea45d.png)

This is the error that my CI is throwing, I tried to globally change the resolutionStrategy to accept only alpha01 and 1.6.0 versions but it didn't work.

[2021-09-07 23:12] aprilmintacpineda commented on #422
I think that error is not related to this, try building in android studio so you can see more details.

[2021-09-08 14:43] mariobrubio commented on #422
If I build in android studio or locally I have to change the build.gradle of react-native-camera-kit to implementation "androidx.core:core-ktx:1.6.0" instead of implementation "androidx.core:core-ktx:+" and then it works like a charm. Meanwhile in my CI workflow I can't change the dependency implementation of the androidx.core, so it fails... Tried to globally change the dependency implementation

[2021-09-09 07:40] abhijit-iOS opened #424 "takePicture failed: Cannot save capture result to specified location react native"
### Issue Description

Getting this issue on Samsung device with API level 30.

Do anyone have solution for this?

[2021-09-14 08:14] ariel-bentu opened #425 "When device is not in Portrait, preview of the camera is wrongly oriented"
### Issue Description

When device is not in Portrait, preview of the camera is wrongly oriented

### Steps to Reproduce / Code Snippets / Screenshots

I include it like this
[code]

---
I managed to overcome the issue by changing the code in CKCamera.m
in `reactSetFrame`, right after the line `self.previewLayer.frame = self.bounds`, add
[code]

---
### Environment
* React Native Navigation versio

[2021-09-20 01:34] V-in commented on #422
This broke multiple projects for me as well. Adding the following snippet at the top of my app/build.gradle solves it:
[code]

[2021-09-20 21:40] mariobrubio commented on #422
Apparently it solves it locally, but when you're building to a CI/CD pipeline, it keeps failing

[2021-09-20 22:19] V-in commented on #422
Are you sure this isn't a caching problem

[2021-09-27 03:11] pmtu95 commented on #410
please update for `com.android.tools.build:gradle:4.2.x`. I'm using r`eact-native v0.65.1` and have error when use `com.android.tools.build:gradle:4.1.x`

[2021-10-11 18:04] pmclachlan commented on #424
https://github.com/teslamotors/react-native-camera-kit/pull/417 seems to be a fix.

[2021-10-20 20:11] AlexKLWS opened #428 "Wrong MIME type for saving photo to gallery on android"
### Issue Description

The MIME type used when forming `contentValues` object is unsupported on android 11. The correct value should be "image/jpeg".

### Steps to Reproduce / Code Snippets / Screenshots

Taking a photo on a device with Android 11 will trigger following error:

[code]

---
### Environment
* React Native Navigation version: 5.9.8
* React Native version: 0.64.2
* Platform(s) (iOS, A

[2021-10-20 20:14] AlexKLWS commented on #428
I have opened a [PR](https://github.com/teslamotors/react-native-camera-kit/pull/429) with a fix

[2021-11-12 07:49] harsha-kotapati commented on #424
same issue

[2021-11-17 04:12] unit-002 opened #431 "Images Inside Internal Storage Picture folder - Android"
### Issue Description

During camera capture images are saved in the cache folder but there are also images saved inside the Picture folder inside internal storage of an Android mobile which are Bin files once capture is done. But those files are save just inside Picture folder and populating the picture folder. How do I save it inside it's own folder on the picture folder similar to the folders b

[2021-11-22 13:45] unit-002 commented on #424
I am having the same issue as well with actual mobile Huawei Honor 10 API 29. When I click capture there is no image file saved but in my Emulator Google Pixel 3 Android 10 API 29 it is working.

[2021-11-23 06:43] unit-002 commented on #431
Found a solution by installing the latest version 12.0.0 and using React native fs readDir.

[2021-11-23 06:43] #431 closed

[2021-11-24 06:30] unit-002 opened #432 "Option to set to the highest camera megapixel"
### Option to set to the highest camera megapixel

Is there an option to toggle or set to the highest camera megapixel?
Currently I'm using a 24mp camera which saves up to 9mb file.
But for React-Native-Camera-Kit it only saves up to 3mb file upon capture using a 24mp camera.
It would be nice if camera-kit will have an option to set camera's megapixel.

---
### Environment
* React-Native-Camera-Ki

[2021-11-30 18:35] #428 closed

[2021-12-05 16:59] razor2022 commented on #195
Same

[2021-12-06 18:11] DibyajyotiMishra opened #434 "Execution failed for task ':react-native-camera-kit:compileDebugKotlin'."
### The Android build fails with react-native-camera-kit version: 11.2.1

react-native: "0.66.3"
react-native-camera-kit: "11.2.1"

### Steps to Reproduce / Code Snippets / Screenshots
yarn add react-native-camera-kit

### Environment
* Platform(s) (iOS, Android, or both?): android
* Device info (Simulator/Device? OS version? Debug/Release?): Device/ Release

/Users/dibyajyotimishra/Documents/yukt

[2021-12-06 21:35] stanica commented on #434
Getting the same issue with release mode.

`Execution failed for task ':react-native-camera-kit:compileReleaseKotlin'.`

[2021-12-07 05:05] DibyajyotiMishra commented on #434
Were you able to solve it ?

[2021-12-07 05:07] stanica commented on #434
Not yet

[2021-12-07 05:13] DibyajyotiMishra commented on #434
Do let me know if you solve it.

[2021-12-07 09:42] Kprashanth20 commented on #434
any solution for this error?

[2021-12-07 15:46] ahmadabudraya commented on #434
+1

[2021-12-07 18:42] stanica commented on #434
Issue seems to be related to using an old version of gradle. This is what I did to fix it:

1. In `android/app/build.gradle`
Change `from configurations.compile` to `from configurations.implementation`

2. In `/android/app/src/main/AndroidManifest.xml`
Add ` android:exported="true"` to `<activity>`

3. In `/android/build.gradle`
    - Change kotlin version to `kotlin_version = '1.5.10'`
    - Chan

[2021-12-09 06:57] Balasnest commented on #409
@scarlac is it pushed into master?

[2021-12-09 06:57] DibyajyotiMishra commented on #434
This really works. Just make sure to update the JVM version too. Make sure it is above 11.

[2021-12-09 06:57] #434 closed

[2021-12-09 07:03] DibyajyotiMishra commented on #384
Refer to this docs: https://github.com/DibyajyotiMishra/react-native-camera-kit/blob/master/docs/kotlin.md

OR

This thread: https://github.com/teslamotors/react-native-camera-kit/issues/434

[2021-12-14 19:10] scarlac commented on #409
@Balasnest No this is in the v12 branch: https://github.com/teslamotors/react-native-camera-kit/commits/r/12.0.0

[2021-12-21 11:28] bobychaudhary opened #436 "Fix: Minor typo mistake"
### Issue Description

# Typo Mistake
![Screenshot (55)](https://user-images.githubusercontent.com/73424060/146922709-386401b7-7396-4d61-b4a7-4ab4daaa8df0.jpg)

### Steps to Reproduce / Code Snippets / Screenshots

[FILL THIS OUT - It will be extremely helpful]

---
### Environment
* React Native Navigation version: [FILL THIS OUT]
* React Native version: [FILL THIS OUT]
* Platform(s) (iOS, Androi

[2021-12-23 22:42] renequez opened #438 "bug: Android v9 or lower doesn't work"
**Describe the bug**
Capture doesn't work on devices with Android version lower than 10. It literally doesn't do anything, no picture, no error either. Logging the capture function (either onBottomButtonPressed on CameraScreen, or capture() on Camera component) returns the taken picture details on Android 10 and higher versions, whereas on lower versions **nothing** happens.

**To Reproduce**
Basi

[2022-01-10 09:17] waleed-nemreeni commented on #416
I am getting the same issue on android 12

[2022-01-13 09:43] Kailash23 opened #439 "Facing build error while installing package on RN 0.64.2"
**Describe the bug**
I am not able to add the package to my rn project.

**To Reproduce**
Steps to reproduce the behavior:
1. After following the steps listed here [link](https://github.com/teslamotors/react-native-camera-kit/blob/master/docs/kotlin.md)
2. Add in android/gradle/wrapper/gradle-wrapper.properties
distributionUrl=https\://services.gradle.org/distributions/gradle-7.0.2-all.zip

I am g

[2022-01-13 10:18] renequez commented on #438
Is this library not maintained anymore?

[2022-01-15 13:26] unit-002 opened #440 "compileSdkVersion is not specified. Please add it to build.gradle"
**Describe the bug**
I am having build error on the latest ver 12.0.0

[code]

But I already have it on my build.gradle which already works on the previous ver 12.0.0-beta5 that I am using which is no longer here.
It's the same app I just upgraded the ver and rebuild the app and this error is now telling me too add the compileSdkVersion which I already have.

build.gradle
[code]

app/build.gradle

[2022-01-15 13:37] #440 closed

[2022-01-20 16:03] savv commented on #438
(Not a maintainer, just reporting back for others.)

The example app works fine for me on the following emulators:
- Pixel XL, Android 8.1 or 9 (API 27/28, x86)

[2022-02-04 10:52] DibyajyotiMishra commented on #439
Hi @Kailash23, did you add these extra configurations ?

In android/build.gradle:

[code]

In android/app/build.gradle:

[code]

In android/app/src/main/AndroidManifest.xml:

[code]

[2022-02-04 13:52] Kailash23 commented on #439
Yes @DibyajyotiMishra
Followed all the steps in this [link](https://github.com/teslamotors/react-native-camera-kit/blob/master/docs/kotlin.md)

[2022-02-04 19:41] DibyajyotiMishra commented on #439
@Kailash23

Did you add this  in AndroidManifest ?

[code]

[2022-02-10 00:51] saaymeen commented on #411
Curious to know as well, styling seems not to be addressed in the docs.

[2022-02-17 14:31] DibyajyotiMishra commented on #62
Hi, @gran33, saveToCameraRoll does not seem to work in android. Didn't check in iOS though. But android, for sure, it doesn't work.

[2022-02-24 06:49] webwork-dot commented on #440
same issue...any solution?

[2022-02-26 13:16] unit-002 commented on #440
I added this steps then it works:

https://github.com/teslamotors/react-native-camera-kit/blob/master/docs/kotlin.md

[2022-02-27 07:48] DibyajyotiMishra commented on #414
You can very easily do it by using the camera ref. Save it in the state and use the capture method. Use it inside the onBarCodeRead method.

[code]

This, however, has a bug which was introduced by the package itself. It saves multiple copies of the barcode in the device internal storage which you can not turn off even by passing the saveToCameraRoll props. A PR has been raised to fix the same iss

[2022-02-28 13:37] brascene commented on #440
I have the samme issue, compileSdkVersion not specified, and when I add those kotlin steps, I just get different errors.. I think this has to do with gradle versions, can anyone provide @unit-002 can you pls provide gradle version used?

[2022-02-28 16:21] DrakonMichael opened #446 "Camera Authorization functions are undefined"
I want to preface this by saying that I'm a react native newbie, and this is the closest library I've gotten to working with cameras in RN, so please bear with me if it's a simple fix

**Describe the bug**
Importing the module works fine, however running the app causes the unhandled promise rejection:
`Possible Unhandled Promise Rejection (id: 0):
TypeError: _$$_REQUIRE(...).Camera.checkDeviceCame

[2022-02-28 16:55] DrakonMichael commented on #446
Alright, this one's on me. I didn't notice that the function must be called on the camera ref, not on the imported camera object itself.

[2022-02-28 16:55] #446 closed

[2022-03-02 08:19] alenseferovic1 opened #449 "Android: The application crashes when scanning the bar code"
<img width="918" alt="Screenshot 2022-03-01 at 19 50 34" src="https://user-images.githubusercontent.com/17699453/156322501-65801f78-daa9-495b-9c38-812f4c930fe9.png">

[2022-03-04 08:16] brascene commented on #449
Same issue here, iOS works perfectly, but for Android had a lot of issues..

[2022-03-06 12:00] unit-002 commented on #440
I have this versions on my build gradle

[code]

[2022-03-17 05:46] s0rta commented on #449
the barcode class was moved to barcode common in a new version of mlkit, they must have updated the dep without realizing. I'll submit a pr, don't know if there is a hot fix in the mean time, will have to do a bit more digging.

[2022-03-17 06:05] s0rta commented on #449
are either of you use mlkit barcode scanning elsewhere in your tool? specifically the newest release where they move the barcode class to the barcode common package? just removed any other mention of the barcode scanning mlkit tooling from my repo and found camera kit to work. Going to bed, but it the fix might be using the same version of mlkit that camera kit uses.

[2022-03-21 22:26] EduFrazao opened #450 "[Doubt] - Identify barcode type"
Hi. When use barcode scanning, its possible to know witch type was read, like a regular Barcode or QRCode?
I try to inspect the the event object, but I can't find this information.

Thank you.

[2022-03-26 07:48] alenseferovic1 commented on #449
Thank you for help. The version is the reason for this issue. I had to add implementation 'com.google.mlkit:barcode-scanning:16.2.0'  in build.gradle and now it works.

[2022-04-02 08:01] njimmy10 opened #456 "Error: Can't resolve './Camera'"
Hello,

So i have installed the package, but having this issue while compiling:
can resolve module from ./camera and as it seems that there is not "Camera" in the package.

What to do?

[2022-04-02 14:59] TranVanLong231 commented on #395
Hey, i was able to check permissions on ios without the need for using other library
just import CKCameraManager from NativeModules
`import {
  NativeModules
} from 'react-native';`
`const { CKCameraManager } = NativeModules;`
`// then you can check for Permission like this`
 `CKCameraManager.checkDeviceCameraAuthorizationStatus();`

[2022-04-04 18:49] Balasnest commented on #146
@aarongrider  any solution?

[2022-04-05 03:38] Balasnest commented on #259
https://github.com/teslamotors/react-native-camera-kit/issues/259#issuecomment-507536910

How can we use both lib together?

[2022-04-05 12:09] Balasnest opened #457 "How can we use both lib react-native-camera (for using MLKit) and react-native-camera-kit together?"
**Describe the bug**
I am using both lib react-native-camera (for using MLKit) and react-native-camera-kit. But this is facing some issue when both libs are used in app.

**To Reproduce**
Steps to reproduce the behavior:
1. Install both libs.
2. Crash on call capture
3. See an error in console

**Expected behavior**
React Native should use functionalities of each app irrespectively.

**Screenshots

[2022-04-05 12:15] Balasnest commented on #457
@yedidyak @aarongrider @scarlac Let me know if any workaround for this issue. It would help. Thanks

[2022-04-07 01:13] juancstlm commented on #395
@Freddy03h Head's up this will also crash in the aforementioned scenario with `Camera` when the prop `cameraType` is provided any value.

Setting the `cameraType` value explicitly causes the `changeCamera` function to fire that attempts to switch device inputs that are `nil` due to permissions being denied.

The `CameraScreen` wrapper around `Camera` sets this prop to `CameraType.Back` by default

[2022-04-08 08:09] PeaceAntoHim opened #460 "Error when running react-native run-anroid"
**Describe the bug**
when i was add this i got an error when running android

# Add Kotlin Support for Android

1. Open and edit android/build.gradle

Add the `kotlin_version` to `buildscript.ext`

[code]

Add `google()` to the `buildscript.repositories` and `allprojects.repositories`

[code]

Add the Kotlin classpath to `buildscript.dependencies`

[code]

2. Open and edit android/app/build.gradle

[2022-04-08 17:16] hb-webdev commented on #91
Can you provide a full example of implementing a custom capture button on RN 0.68?

[2022-04-08 17:30] #395 closed

[2022-04-12 16:06] Epick362 opened #462 "Android onReadCode is only fired once"
**Describe the bug**
Barcode scanning callback only runs once on Android. Works just fine on iOS.

**To Reproduce**
Steps to reproduce the behavior:
1. Have a screen with Camera component.
2. Scan a QR/barcode
3. Callback executed
4. wait a few seconds
5. try scanning any other QR code
6. Callback not executed

**Expected behavior**
Callback gets executed multiple times.

**Smartphone (please comp

[2022-04-12 16:50] Epick362 commented on #462
I tried downgrading and this issue is happening since version 10.0.0

[2022-04-14 09:05] vkozinec opened #463 "After accepting camera permission on android, camera needs to be reinitialized again to work"
**Describe the bug**
After accepting camera permissions, camera does not work until initialised again. We use `<Camera />` component

**To Reproduce**
Steps to reproduce the behavior:
1. Open screen with `<Camera />` component
2. Native pop up comes to accept camera permissions
3. Camera does not work until we close it and open again

**Expected behavior**
Camera should work after accepting the pe

[2022-04-15 06:05] DibyajyotiMishra commented on #463
@vkozinec Make sure that you accept the Permissions before you actually move into the camera screen. May be inside HomeScreen or during app startup.

[2022-04-15 06:06] DibyajyotiMishra commented on #462
Never found that happening. Can you describe further ?

[2022-04-15 06:11] DibyajyotiMishra commented on #415
You can use some additional third party libraries for the same. For example: react-native-hole-view. Find the docs [here](https://www.npmjs.com/package/react-native-hole-view).

[2022-04-17 07:03] juancstlm commented on #463
@vkozinec I have come across the behavior that you described and would recommend what @DibyajyotiMishra mentioned to request permissions prior to showing the `<Camera />` component.

I think the issue you describe lies in that there is a simple permissions request implemented for Android, that checks and request the permissions for you, it does not wait for the result of the request to resolve and

[2022-04-19 08:53] Epick362 commented on #462
Callback function `onScan()` passed to prop `onReadCode` is only fired on the first detection of a QR code and then stops working. This is happening only on Android devices. After downgrading to 10.0.0 the callback works as expected multiple times.

[2022-04-20 18:57] Balasnest commented on #259
@ShokiiCookiie Can you help me with this? Any workaround? I have tried renaming the files which are the same. but couldn't able to fix it.

[2022-04-21 20:02] scarlac commented on #463
To ensure reliable behavior you need a dedicated permissions library. This is because permissions are way more complicated than "yes" and "no". There are several statuses. I highly recommend checking out react-native-permissions's flow diagram on the complexity:
https://github.com/zoontek/react-native-permissions#ios-flow

It will allow you to show appropriate UI stuff. I recommend rendering the c

[2022-04-21 20:02] #463 closed

[2022-04-21 21:33] scarlac commented on #457
Hi @Balasnest Can you provide an example repository or clearer evidence that this is a camera kit issue? I can't tell if this error is coming from rn-camera or camera kit. I can't think of any obvious issues with having both installed (as long as they aren't used at the same time).
I think @Epick362 's comment is the best take here. The source of the error means that a native call was made, but a

[2022-04-22 10:10] Balasnest commented on #457
@scarlac I have been using CameraKitCameraScreen for a long time which was working fine before introducing rn-camera in my project. When I add this, it started crashing on taking photos.
**Exactly at this line :**
https://github.com/teslamotors/react-native-camera-kit/blob/cff3175aa176e664a89b7f19424ddb8ca0a1ed2d/src/CameraKitCamera.android.js#L37

If I remove it back, it works! Even tried changin

[2022-04-22 12:06] cassioseffrin opened #464 "Barcode don't work on specific device: motorola moto g(9) play. Android 11"
**Describe the bug**
onReadCode is not detecting reads on specific model **motorola moto g(9) play.** Android 11
This bug only happen in this device model. In a large number of devices including ios and android it's ok.

**To Reproduce**
Steps to reproduce the behavior:

Just render a common  camera component and wait for the bar code read.
[code]

**Expected behavior**
Detect the barcode read on

[2022-04-22 19:46] cassioseffrin commented on #464
I have managed to fix this issue. The PR is here:  https://github.com/teslamotors/react-native-camera-kit/pull/465

[2022-05-26 21:12] AdamSheaHewett commented on #416
Yep, same issue. Any solutions?

[2022-05-26 21:34] AdamSheaHewett commented on #410
I'm getting this problem. Just tried saving camera reference to state, but don't see any difference. Did it work for anyone else?

[2022-05-28 02:38] DibyajyotiMishra commented on #410
It should work. I have already tried that earlier. Please check again. You might have missed something.

[2022-05-31 14:23] AdamSheaHewett commented on #410
It's not working no matter what I do. I've tried putting the camera ref in state, using different components (Camera vs CameraScreen). Tried changing all different props, and just using it with a few props as possible.

It hangs on `camera.capture()`, only on Android. If the component is dismounted it then shows an error that says "Camera is closed" - otherwise I've waited 10 minutes for it to do

[2022-06-02 16:47] AdamSheaHewett commented on #410
It turned out to be something to do with the "virtual scene" that android emulates. If I set the emulator to just "emulate" the camera, instead of using a virtual scene, it works

[2022-06-06 10:04] NachoGarciaAitaca opened #470 "Can't select frontCamera by default in the cameraScreen"

[2022-06-09 08:48] diptiman-svmx commented on #460
Please change the min sdk version in the build.gradle file in project level to 23 and kindly change the kotlin version to the latest or "1.6.0".

[2022-06-12 19:11] serkon commented on #408
I hope this will be solution:
https://github.com/react-native-camera/react-native-camera/issues/1598

[2022-06-13 08:52] ponleukea opened #471 "I noted after Add Kotlin to project APK file have increase double size ? why ?"
**Describe the bug**
  I follow this : https://github.com/teslamotors/react-native-camera-kit/blob/master/docs/kotlin.md

[2022-06-24 03:12] truongluuxuan opened #472 "camera not focus"
in my devices (samsung s5 - android 6.0.1) , version react-native-camera-kit  12.0.1 => camera not focus => cannot scan qr code. please fix this bug.

[2022-06-24 06:24] phamyqb opened #473 "Cannot find module 'react-native-camera-kit' with jest"
**Describe the bug**
I'm using "react-native-camera-kit": "^11.2.0" with react-native 0.65

**To Reproduce**
Steps to reproduce the behavior:
1. import {CameraSreen} from 'react-native-camera-kit'

**Expected behavior**
should run test successfully

**Screenshots**
<img width="413" alt="image" src="https://user-images.githubusercontent.com/16466928/175475431-f3d30a82-e28a-47ac-aeda-8813b71e3562.pn

[2022-07-05 12:04] Productivix opened #475 "Fresh RN 0.68.2 or 0.69.1 : Build failed with 2 errors"
**Describe the bug**
Bug at build on 0.68.2 : "FAILURE: Build completed with 2 failures."

1: Task failed with an exception.
-----------
* Where:
Build file '/.../test_rn_qrscan/node_modules/react-native-camera-kit/android/build.gradle' line: 2

* What went wrong:
A problem occurred evaluating project ':react-native-camera-kit'.

* Try:

============================================================

[2022-07-06 07:30] Productivix commented on #475
hi, same errors on 0.69.1 fresh install.
how can I help to solve that please ?

[2022-07-08 16:10] yellowh2art opened #476 "scanBarcode={false} ios not working"
### Issue Description

Barcode is read even if scanBarcode value is set to false in ios

### Steps to Reproduce / Code Snippets / Screenshots

<CameraScreen
  showFrame={false}
  // Show/hide scan frame
  scanBarcode={false}
  // Can restrict for the QR Code only
  laserColor={'blue'}
  // Color can be of your choice
  frameColor={'yellow'}
  // If frame is visible then frame color
  colorForScann

[2022-07-08 16:12] yellowh2art commented on #476
I want to block reading the barcode until success or failure is returned after verifying the value after reading the barcode.

[2022-07-08 20:34] jkester1986 opened #477 "Would love a way to control the zoom and/or zoom speed"
**Is your feature request related to a problem? Please describe.**
Zooming in goes at a normal speed, but if you take your fingers off the screen and then try to zoom back out afterward, it's very slow

**Describe the solution you'd like**
something that allows me to control the zoom speed, either by providing a way to manage it directly, or by providing a way to set the zoom value on the Camera c

[2022-07-13 14:34] Productivix commented on #475
same on my windows machine that runs many other projects - could be from this project
my Android and java config attached.
[RN0691_Win.txt](https://github.com/teslamotors/react-native-camera-kit/files/9103173/RN0691_Win.txt)

[2022-07-15 01:35] ramonribeiro96 commented on #475
configuration in link: https://github.com/teslamotors/react-native-camera-kit/blob/master/docs/kotlin.md

it worked for me.

[2022-07-15 06:39] fynally opened #479 "compileSdkVersion is not specified"
**Describe the bug**
Task failed with an exception.
-----------
* What went wrong:
A problem occurred configuring project ':react-native-camera-kit'.

**Additional context**
I created a brand new project and it was running fine in both emulator and real device but then I installed react-native-camera-kit and I started getting this error

[2022-07-19 12:10] diptiman-svmx opened #480 "It will be great if text recognition feature is included in your road map."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-07-20 05:09] Productivix commented on #475
hello,
thank you it works also , !
and  also change  :
minSdkVersion = 23 //changement from 21 to 23

[2022-07-20 05:09] #475 closed

[2022-07-23 06:22] #351 closed

[2022-07-25 06:28] Maxth commented on #462
We are experiencing this as well. Same smartphone model Samsung Galaxy A12.

[2022-08-11 21:46] muhammadali1472 opened #482 "Barcode types and data returns undefined"
**Describe the bug**
When I try to get barcode type and data it returns undefined.
**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**
should return barcode type and barcode itself

[2022-08-18 08:09] JaewonKim81 opened #484 "showFrame props works differently for each OS."
**Describe the bug**
When used for scanning qr code, the showFrame option works differently on Android and iOS.
On ios, the code is scanned only in the central frame area, whereas on Android, it is scanned in the whole area of screen.

**To Reproduce**
Steps to reproduce the behavior:
1. Build a apk file in debug mode.
2. Install it on android device. ( I tested it on Samsung Galaxy S21 Ultra and

[2022-08-18 09:12] iesu365 opened #485 "How to modify the width and height of the scan box"
How to modify the width and height of the scan box

[2022-08-18 20:21] lucasmc20 opened #486 "HELP ME - PROBLEM IN ANDROID"
Hello guys, how are you?
I'm having problems with a device to read a QRCODE.
I put it in debug mode via USB on it to be able to catch the problem that is happening.

When it tries to read a QRCode it prints a message in the log:
E/libc: Access denied finding property "persist.vendor.camera.mi.cameraid"

[2022-08-19 09:06] dangnguyen1004 opened #487 "Config to change height and width of the CameraScreen as well as the image after taken"

[2022-08-25 10:04] xclidongbo opened #488 "iOS not full screen"
iOS not full screen

[2022-08-25 10:54] Uzef1997 opened #489 "Not giving proper value in gs128 type barcode"
**Describe the bug**
After scanning the gs128 barcode it is not giving the proper value if the barcode is gs128 then it must be started from "]C1" according to standards of barcode but the returned value is "C1010081628100244810LOT123" is like this library is using somekind of regex to return string values only if it is you have to change it

**To Reproduce**
Steps to reproduce the behavior:
Add t

[2022-08-26 07:36] Uzef1997 opened #490 "Not responding on denying the permission"
**Describe the bug**
1. react-native-camera-kit is asking for permission to record a video that permission is irrelevant if we just want to use camera for scannig barcode or QRcode you should consider to remove a code for asking the permission or you could just ask correct permission

2. After denying the permission I just got stuck on blank camera screen which should not be happen if user denies

[2022-08-29 19:10] hardikcc commented on #462
Anyone able to solve this issue?

[2022-09-02 03:19] LucasFGomes commented on #410
Did you manage to run on the physical device? it works?

[2022-09-06 17:51] Cordobo commented on #479
It's been a while since you asked and I hope you found the solution in the meantime. For everyone else, this might help:

1. Open <your_react_native_root_folder>/android/build.gradle
2. Find `buildscript`
3. Find `ext` within "buildscript"
4. Add `compileSdkVersion = 33` near `targetSdkVersion = 33`
5. Save your file and rebuild

[2022-09-15 00:56] scarlac commented on #490
Great find @Uzef1997 ! We are indeed moving towards people using react-native-permissions as it's a much better solution for all the edge cases and custom prompts that modern apps must deal with.

A branch was created that you can have a play with:
[`remove-permission-prompts`](https://github.com/teslamotors/react-native-camera-kit/tree/remove-permission-prompts)

Since this may break features for

[2022-09-15 23:41] steveluscher opened #492 "Migrate from `kotlin-android-extensions` to View Binding and update docs"
**Is your feature request related to a problem? Please describe.**

If you use React Native 0.70.0 and you follow the Kotlin docs in this repository, `yarn android` will yield the following warning:

[code]

**Describe the solution you'd like**
Can you follow the migration guide and update the docs please?

[2022-09-16 09:39] saaymeen commented on #462
Experiencing this issue as well, Galaxy Note 9 & S21.

[2022-09-19 10:03] Uzef1997 commented on #490
could not go for the beta version as of now coz I am moving forward for production and can't take chances for beta as everything is settled with my project but surely I will try it some other time thank you for responding.

[2022-09-28 15:55] hardikcc commented on #462
Anyone had any luck on this?

[2022-09-29 02:43] cccolo opened #494 "Frame in android are cut"
The frame in android are cutted, in ios work fine.

![Screenshot_20220928_233725](https://user-images.githubusercontent.com/11674528/192926410-a27ca7d2-c97d-4fc2-9aa3-f4da10c1611e.jpg)

Code:

[code]

[2022-09-29 09:39] XIC660-AshutoshJani commented on #209
Dear Collaborators ,

I am also facing this issue in VIVO mobile phones as I am not able to scan any type of QR code .Please look into this issue as its the big blocker for dev.

Basic Detail.
Device - : VIVO Y51A
Android V -: 12

[2022-09-29 20:06] cccolo opened #495 "Scan code allowed by param"
I thinks it's necessary implement a feature to allow scan a specific code types, like QR and not others. Actually scan all codes

[2022-09-30 07:10] TommasoTate commented on #393
Any update on this one?
The documentation seems to be completely unreliable regarding the Typescript definition.
e.g. `flashImages` is not listed in the component props but actually used in the implementation.

[2022-10-03 12:27] Volekss commented on #380
Are there any updates regarding this issue?

[2022-10-04 09:16] XIC660-AshutoshJani opened #496 "Cannot scan QR code in vivo mobiles"
Dear Collaborators ,

I am also facing this issue in VIVO mobile phones as I am not able to scan any type of QR code .Please look into this issue as its the big blocker for dev.

Basic Detail.
Device - : VIVO Y51A
Android V -: 12

[2022-10-05 22:36] scarlac commented on #490
Closing this as we have v14.0.0-beta1 with a fix for it.

[2022-10-05 22:36] #490 closed

[2022-10-05 22:38] scarlac commented on #496
You have not followed the bug reporting template so there's a bunch of information missing, like library version, what exactly isn't working (not recognizing the image). We also need to see a photo of the QR code so we can reproduce.
Closing for lack of information. If supplied, we can reopen.

[2022-10-05 22:38] #496 closed

[2022-10-05 22:40] scarlac commented on #486
This doesn't seem related to the library and lacks code or steps to reproduce (e.g. a QR code that causes a crash).

[2022-10-05 22:40] #486 closed

[2022-10-06 08:41] costea93 commented on #488
the same issue here

[2022-10-10 01:01] Lauramith opened #497 "loc/en.json"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Add prop `someProp="someValue"`
2. call `cameraRef.current.capture()`
3. See error in console

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If the issue is a visual glitch or UI issue please provide screen shots.

*

[2022-10-10 14:53] DysphoricUnicorn commented on #479
Just for other people who may run into the issue as I have: Even if you have the `compileSdkVersion` in your `buildscript.ext` config, you may still get this (in this case misleading) error if you have not set up Kotlin yet.

[2022-10-11 09:42] Karthik-V26 commented on #484
Any update on this?

[2022-10-14 08:57] ahmad6242 opened #498 "CameraType = > back,front not working"
### Issue Description

CameraType => back, front does not make any effect on which camera is opening.
unless i use cameraFlipImage={require('path/to/image')}, when i click on this image only then the camera is switched.

How can i use this Prop CameraType ? Please guide

### Steps to Reproduce / Code Snippets / Screenshots
[code]
---
### Environment
* "@react-navigation/native": "^6.0.13",
* React

[2022-10-16 19:08] Jaybee4real commented on #440
Same issue, any solution yet?

[2022-10-17 07:43] Steven-lunchCo commented on #462
Also experiencing this, tried to force reload the component and set a navigation focus listener but still doesn't work

[2022-10-17 10:08] robertcoroianu commented on #498
Hello,
  I have the same issue.
I've tried as in the docs but it doesn't do anything.

![image](https://user-images.githubusercontent.com/2587236/196151135-cc3af978-388b-4aac-8ade-fca065d445df.png)

[2022-10-18 05:41] ahmad6242 commented on #498
@robertcoroianu
I have fixed it by changing some code

node_modules\react-native-camera-kit\dist\CameraScreen.js

[code]
![image](https://user-images.githubusercontent.com/12858657/196344680-abaecb86-8ac5-44bd-9c3a-ebcbc5fbff5e.png)

COPY PASTE this function in the file
[code]
![image](https://user-images.githubusercontent.com/12858657/196344752-45483beb-7fcf-4af4-9568-dcfe1cbe85e0.png)

[2022-10-20 10:44] Karthik-V26 commented on #380
any updates?

[2022-10-22 01:39] anantasty commented on #440
Same issue. Any one found a solution yet ?

[2022-10-23 08:45] Overtorment opened #501 "Get rid of lodash dependency?"
I checked the code, and lodash is not doing much in this project, should be easy enough to get rid of it (and replace with vanilla js).

Dependencies became a plague in js/npm world, better reduce their amount to absolute minimum.

Would you be willing to work on this?

Or, if not, would you accept a PR if I work on this?

[2022-10-24 17:04] gabrieljoelc commented on #479
@DysphoricUnicorn can you describe what you mean about not properly set up Kotlin?

[2022-10-24 17:18] gabrieljoelc commented on #479
I figured it out. I finally noticed this in the build error:
[code]
add these lines to set up kotlin (i used [this guide](https://sebhastian.com/plugin-with-id-kotlin-android-not-found/)):
[code]
and then:
[code]

[2022-10-31 10:17] supratechadmin commented on #422
there is a workaround for this I upgraded my versions to 31 and its done
compileSdkVersion = 31
        targetSdkVersion = 31
P.S : Nothing else worked for me.

[2022-11-09 10:53] Nulll-cyber commented on #440
same issue anyone have resolve it .

[2022-11-14 13:25] kieran-Collins commented on #271
I have & i am stil checking to patch to redesign the QR Frames (Custom Scan Box style).
As the prop showFrame shows the frames but it looks bit weird for QR code. It looks like it is design to Scan Barcode only.

If any hint or help for custom styling for Frames will be much appreciated.@scarlac.

Thank you.

[2022-11-14 18:05] DamianJudek commented on #462
Hi guys, I think I found some workaround. In my case the `onReadCode ` callback was also fired once. I'm using React Navigation and I have a barcode scanning feature on one screen. So I decided to use the useIsFocused hook and unmount the camera when I leave the screen. Now the scan works as expected.
It seems like Camera Screen lost the reference to onReadCode callback after scanning/refreshing t

[2022-11-14 18:49] DamianJudek commented on #494
In your code you defined both `width` and `height` as ` Dimensions.get('window').width`  therefore it appears square and then  `ratioOverlay={'16:9'}` maybe that is the problem 🤔

[2022-11-14 20:39] danyzor commented on #462
@DamianJudek , worked for me, thanks a lot! :)

[2022-11-16 08:54] Uzef1997 commented on #490
Hello @scarlac latest version still has the same issue
in my current scenario when the scanner first appears it asks for permission If I allow it then a black screen appears and nothing happens after restarting the app it works fine

second thing: when I deny for permission same screen got stuck and I did not get any callbacks or promise about the permission denial

please look into this scenarios

[2022-11-16 11:57] tanzeel-abdulWahid commented on #440
Same issue any one has resolved it

[2022-11-16 16:11] scarlac commented on #490
Which version did you test? Beta should have fixed this but we haven't officially released it yet.

[2022-11-16 17:40] Epick362 commented on #462
Thanks @DamianJudek! This seems like a good workaround in the meantime.

[2022-11-17 05:25] vietnguyenhoangw commented on #471
Look like this libs make the build apk file become larger. My previous apk has 30mb and after integrate this libs this one has more than 100mb.

[2022-11-18 14:13] vektorat-manish948 commented on #440
Hello Everyone,

I am new to react native development. when i am building and running my code, it is working nicely in ios but i don't know what is the problem, i am not able to fix the problem of android app. After running "yarn android" it's shows me the error mentioned below in an image. I tried many solution from git and stack overflow but nothing helps. I hope i will get some help from here s

[2022-11-21 07:13] Uzef1997 commented on #490
I have tried using 13.0.0 will update here after trying beta version [14.0.0-beta2](https://www.npmjs.com/package/react-native-camera-kit/v/14.0.0-beta2)

[2022-11-22 10:32] izzelislam commented on #492
any solution for this issue ?

[2022-11-26 16:58] blockodyssey-yhkim commented on #150
In my case, I added the code to the react-navigation option and modified it to refresh when moving the screen. This works well for me.
`
screenOptions={{
                unmountOnBlur: true,
            }}
`